.square {
    box-sizing: border-box;
    border: 1px solid black;
    flex: 1 0 auto;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#gridContainer{
    width: 850px;
    height: 850px;
    margin: 0 auto;
    justify-content: center; 
    box-sizing: border-box; 
    display: flex;
    flex: 1 0 auto;
}